{% extends 'forum/base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'forum/css/home/home-page.css' %}">

{% endblock %}

{% block js %}
<script defer src="{% static 'forum/js/home/home-like.js' %}"></script>
{% endblock %}


{% block main %}
    

  {% if request.user.is_authenticated %}

    <div class="content-wrapper bg-light">
      <div class="sidebar bg-light p-3">
        <h5>Feed</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active left-sidebar-link" href="{% url 'forum:home' %}">
              <i class="fa-solid fa-house fa-lg"></i> Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#"
              ><i class="fa-solid fa-square-poll-vertical fa-lg"></i> Polls</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#"
              ><i class="fa-solid fa-fire fa-lg"></i> Popular</a
            >
          </li>
        </ul>
        <h5 class="mt-3">Communities</h5>
        <ul class="nav flex-column">
          {% if communities %}
            {% for community in communities %}
              <li class="nav-item">
                <a class="nav-link left-sidebar-link" href="{% url 'forum:community_page' community.id %}"> {{community.community_name}} </a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        <h5 class="mt-3">Job Groups</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active left-sidebar-link" href="#"
              >Software Engineering</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Product Managment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#"
              >Management and Consulting</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#"
              >Investment Banking & Sell Side</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Data Science</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#"
              >Information Technology</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Human Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Operations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Legal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Supply Chain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Customer Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#"
              >Information Technology</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#">Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link left-sidebar-link" href="#"
              >Hardware Engineering</a
            >
          </li>
        </ul>
      </div>

      <div class="main-feed ">
        <!-- Main Feed Content -->



      <div class="liked-posts-container ms-3">

        
        <div class="feed-header d-flex justify-content-between align-items-center mb-4">
          <h4 class="feed-title mb-0">Search Results For "{{query}}"</h4>
        </div>

          <!-- Offcanvas -->
        <div class="offcanvas-container mb-4">
            <button
              class="btn btn-outline-dark"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasWithBothOptions"
              aria-controls="offcanvasWithBothOptions"
            >
              Feed
            </button>

            <div
              class="offcanvas offcanvas-start"
              data-bs-scroll="true"
              tabindex="-1"
              id="offcanvasWithBothOptions"
              aria-labelledby="offcanvasWithBothOptionsLabel"
            >
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
                  CampusHub
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active left-sidebar-link" href="#"
                      >My Feed</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Polls</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Popular</a>
                  </li>
                  <li class="nav-item">
                    <form class="mx-auto offcanvas-form" role="search" method="get">
                      <input class="form-control search-posts me-2 mb-3" type="search" name="q" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-dark search-btn">search</button>
                    </form>
                  </li>
                </ul>
                <h5 class="mt-3">Communities</h5>
                <ul class="nav flex-column">
                  {% if communities %}
                  {% for community in communities %}
                    <li class="nav-item">
                      <a class="nav-link left-sidebar-link" href="{% url 'forum:community_page' community.id %}"> {{community.community_name}} </a>
                    </li>
                  {% endfor %}
                  {% endif %}
                </ul>
                <h5 class="mt-3">Job Groups</h5>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active left-sidebar-link" href="#"
                      >Software Engineering</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Product Managment</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Finance</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Management and Consulting</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Investment Banking & Sell Side</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Finance</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Data Science</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Security</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Information Technology</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Security</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Human Resources</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Operations</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Legal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Supply Chain</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Customer Service</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Design</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Marketing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Admin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Information Technology</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#">Marketing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link left-sidebar-link" href="#"
                      >Hardware Engineering</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Offcanvas -->

          <!-- Post section start -->

          {% for post_with_status in posts_with_like_status %}

              <div class="user-post-card card">
                <div class="card-body user-post-card-body">
                  <a class="user-post-link" href="{% url 'forum:post_detail' post_with_status.post.id %}">
                    <div class="card-title-container">
                      <h5 class="card-title">
                        {{post_with_status.post.title}}
                      </h5>

                      <p class="text-muted pt-3">{{post_with_status.post.time_created|naturaltime}}</p>
                      <div class="post-option-icon-container">
                        <i class="fa-solid fa-ellipsis post-options-icon fa-lg"></i>

                      </div>
                    </div>

     
                    <div class="d-flex align-items-center custom-subtitle-container">
                        {% if post_with_status.post.community %}
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ post_with_status.post.community }}</h6>
                        {% endif %}
                        {% if post_with_status.post.community and  post_with_status.post.category%}
                        <h6 class="card-subtitle mb-2 text-body-secondary">-</h6>
                        {% endif %}
                        {% if post_with_status.post.category %}
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ post_with_status.post.category }}</h6>
                        {% endif %}
                        
                        {% if post_with_status.post.poll %}
                        <h6 class="card-subtitle mb-2 text-body-secondary">-</h6>
                          <h6 class="card-subtitle mb-2 text-body-secondary">Poll</h6>
                        {% endif %}
                          
                    </div>

                    

                    <p class="card-text">
                      {{post_with_status.post.body|truncatewords:20 }}
                    </p>
                  </a>
                  <!-- Thumbnail -->
                  <div class="container-fluid mt-5 thumbnail-container">
                    <img
                      src="random.jpg"
                      alt="Thumbnail"
                      class="img-thumbnail"
                      data-bs-toggle="modal"
                      data-bs-target="#likeImageModal"
                      style="cursor: pointer"
                    />
                  </div>

                  <!-- Modal -->
                    <!-- Unique modal ID -->
                  <div
                    class="modal modal-lg fade"
                    id="imageModal-{{ post_with_status.post.id }}" 
                    tabindex="-1"
                    aria-labelledby="imageModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <img
                            src="random.jpg"
                            alt="Full-size Image"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row pt-4 px-4 interaction-row">
                    <div class="interaction-container col-4" data-liked="{% if post_with_status.is_liked_by_user %}true{% else %}false{% endif %}" data-post-id="{{ post_with_status.post.id }}">
            
                        <!-- Like Button (shown if the post is not liked by the user) -->
                        <div id="like-button-{{ post_with_status.post.id }}" class="" {% if post_with_status.is_liked_by_user %}style="display: none;"{% endif %}>
                            <span class="interaction-button like-btn" data-url="{% url 'forum:like-post' post_with_status.post.id %}">
                                <i class="fa-regular fa-heart fa-xl like-icon"></i>
                                <span id="like-count-{{ post_with_status.post.id }}" class="like-{{ post_with_status.post.id }}">{{ post_with_status.post.total_likes }} likes</span>
                            </span>
                        </div>
            
                        <!-- Unlike Button (shown if the post is liked by the user) -->
                        <div id="unlike-button-{{ post_with_status.post.id }}" class="" {% if not post_with_status.is_liked_by_user %}style="display: none;"{% endif %}>
                            <span class="interaction-button unlike-btn" data-url="{% url 'forum:like-post' post_with_status.post.id %}">
                                <i class="fa-solid fa-heart fa-xl unlike-icon"></i>
                                <span id="like-count-{{ post_with_status.post.id }}" class="like-{{ post_with_status.post.id }}">{{ post_with_status.post.total_likes }} likes</span>
                            </span>
                        </div>
                    </div>
            
                    <div class="col-4">
                      <span class="interaction-button">
                        <i class="fa-regular fa-message fa-xl"></i>
                        <small class="text-muted">9 comments</small>
                      </span>
                    </div>
                    <div class="col-4">
                      <span class="interaction-button">
                        <i class="fa-regular fa-eye fa-xl interaction-btn"></i>
                        <small class="text-muted">9 views</small>
                      </span>
                    </div>
                </div>
                  
                </div>
              </div>


          {% endfor %}
          <!-- Post section end -->
        </div>
        <!-- Add more feed items here -->
      </div>
      
    </div>

    {% else %}

    <p>Please login or sign up</p>
    <p><a href="{% url 'user:sign-in' %}"></a></p>

    {% endif %}


    
    {% endblock %}
