{% extends 'forum/base/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% load humanize %}

{% block title %}
    <title>{{post.title|truncatewords:5}}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'forum/css/home/home-page.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/post/post-detail.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/post/post-detail-media-queries.css' %}">
{% endblock %}

{% block js %}

<script defer>
  
  document.addEventListener("DOMContentLoaded", () => {
    // Event delegation for reply buttons
    var toastEl = document.getElementById('toastMessage');
    var toast = new bootstrap.Toast(toastEl);
    {% if messages %}
      toast.show();
    {% endif %}


  });

  </script>
  <script defer src="{% static 'forum/js/poll/vote.js' %}"></script>
  <script defer src="{% static 'forum/js/post/post-detail-like.js' %}"></script>  
  <script defer src="{% static 'forum/js/post/comment-box.js' %}"></script>
  <script defer src="{% static 'forum/js/post/comment-like.js' %}"></script>
{% endblock %}


{% block main %}

  {% if request.user.is_authenticated %}

  <div class="content-wrapper">
    <div class="sidebar bg-light p-3">
      <h5>Feed</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active left-sidebar-link" href="{% url 'forum:home' %}">
            <i class="fa-solid fa-house fa-lg"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            ><i class="fa-solid fa-square-poll-vertical fa-lg"></i> Polls</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            ><i class="fa-solid fa-fire fa-lg"></i> Popular</a
          >
        </li>
      </ul>
      <h5 class="mt-3">Communities</h5>
      <ul class="nav flex-column">
        {% if communities %}
          {% for community in communities %}
            <li class="nav-item">
              <a class="nav-link left-sidebar-link" href="{% url 'forum:community_page' community.id %}"> {{community.community_name}} </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <h5 class="mt-3">Job Groups</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active left-sidebar-link" href="#"
            >Software Engineering</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Product Managment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Management and Consulting</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Investment Banking & Sell Side</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Data Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Information Technology</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Human Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Operations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Legal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Supply Chain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Customer Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Information Technology</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Hardware Engineering</a
          >
        </li>
      </ul>
    </div>

    <div class="main-feed">

      {% if post %}

      <!-- Toast container -->
      <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
        {% if messages %}
          {% for message in messages %}
            <div id="toastMessage" class="toast align-items-center text-light bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
              <div class="d-flex">
                <div class="toast-body">
                  <!-- Display Django messages inside the toast -->
                  {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="card mb-3 post-card">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between align-items-center">
            <a class="back-link btn btn-outline-light" href="{% url 'forum:home' %}">
              <i class="fa-solid fa-arrow-left back-icon"></i>
            </a>
            <span class="mx-3" style="font-weight: 500; font-size: 1.4rem">{{ post.community.community_name }}</span>
            <div class="d-flex align-items-center ms-auto">
              <span class="text-muted me-3" style="font-weight: 400; font-size: 1rem">{{ post.time_created|naturaltime }}</span>
              <div class="post-option-icon-container dropdown">
                <i
                  class="fa-solid fa-ellipsis post-options-icon fa-lg"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></i>
      
                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% if request.user == post.author %}
                  <li>
                    <form action="{% url 'forum:delete_post' post.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item text-danger">
                        <i class="fa-solid fa-trash me-2"></i>Delete Post
                      </button>
                    </form>
                  </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fa-solid fa-minus me-2"></i>Show less
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fa-solid fa-bookmark me-2"></i>Save post
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



        <div class="title-body-container container ms-2">

          <h5 class="card-title mb-3">
            {{post.title}}
          </h5>
          <!-- Community and Category -->
          <div class="d-flex align-items-center custom-subtitle-container mb-2">
            <h6 class="card-subtitle mb-0 text-body-secondary">{{ post.author.username }}</h6>
          </div>
          <div class="d-flex align-items-center custom-subtitle-container mb-4">
              <!-- Community and Category -->
            {% if post.community %}
            <h6 class="card-subtitle mb-0 text-body-secondary">{{ post.community }}</h6>
            {% endif %}
            {% if post.community and post.category %}
            <h6 class="card-subtitle mb-0 text-body-secondary mx-2">-</h6>
            {% endif %}
            {% if post.category %}
            <h6 class="card-subtitle mb-0 text-body-secondary">{{ post.category }}</h6>
            {% endif %}
            {% if post.poll %}
            <h6 class="card-subtitle mb-0 text-body-secondary mx-2">-</h6>
            <h6 class="card-subtitle mb-0 text-body-secondary">Poll</h6>
            {% endif %}

            
            {% if post.poll %}
            <h6 class="card-subtitle mb-2 text-body-secondary">-</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">Poll</h6>
            {% endif %}
              
        </div>
          <p class="card-text mt-2 post-body">
            {{post.body}}
          </p>
        </div>

          <!-- Thumbnail -->
          {% if post.image %}
            <div class="container-fluid mt-3 thumbnail-container">
              <img
                src="{{post.image.url}} "
                alt="Thumbnail"
                class="img-thumbnail"
                data-bs-toggle="modal"
                data-bs-target="#imageModal-{{ post.id }}"
                style="cursor: pointer"
              />
            </div>
          {% endif %}

          <!-- Modal -->
          <!-- Unique modal ID -->
        {% if post.image %}
          <div
            class="modal modal-lg fade"
            id="imageModal-{{ post.id }}" 
            tabindex="-1"
            aria-labelledby="imageModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <img
                    src="{{post.image.url}}"
                    alt="Full-size Image"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        {% endif %}

          
          {% if poll %}
            <div class="poll-container" data-post-id="{{ post.id }}" data-poll-id="{{ poll.id }}">
                <ul class="list-group">
                    {% for choice in poll_choices %}
                      <li class="list-group-item d-flex align-items-center justify-content-between">
                        <div class="form-check">
                            <input
                                class="form-check-input poll-option"
                                type="radio"
                                name="pollChoice"
                                id="choice{{ choice.choice.id }}"
                                data-choice-id="{{ choice.choice.id }}"
                                {% if user_vote and user_vote.choice.id == choice.choice.id %}checked{% endif %}>
                            <label class="form-check-label" for="choice{{ choice.choice.id }}">
                                {{ choice.choice.choice_text }}
                            </label>
                        </div>
                        <span class="badge bg-light text-primary" id="percentage-{{ choice.choice.id }}">
                            {{ choice.percentage|floatformat:1 }}%
                        </span>
                      </li>
                    {% endfor %}
                </ul>
            </div>
          {% endif %}

          <div class="interaction-container p-3" data-liked="{% if is_liked_by_user %}true{% else %}false{% endif %}">
            <p class="card-text">
              <small class="text-muted">

            <!-- Like Button (shown if the post is not liked by the user) -->

                <span class="interaction-button like-btn" id="like-button" data-url="{% url 'forum:like-post' post.id %}">
                    <i class="fa-regular fa-heart fa-xl like-icon"></i>
                    <span class="like-count">{{ post.total_likes }} likes</span>
                </span>

                <!-- Unlike Button (shown if the post is liked by the user) -->

                <span class="interaction-button unlike-btn" id="unlike-button" data-url="{% url 'forum:like-post' post.id %}">
                    <i class="fa-solid fa-heart fa-xl unlike-icon"></i>
                    <span class="like-count">{{ post.total_likes }} likes</span>
                </span>


                <span class="interaction-button">
                  <i class="fa-regular fa-message fa-xl comment-icon"></i> {{comment_count}}
                  comments
                </span>
                <span class="interaction-button">
                  <i class="fa-regular fa-eye fa-xl views-icon"></i> 1,935
                  views
                </span>
              </small>
            </p>
          </div>
        </div>

        <div class="container-fluid comments-container">
          <form action="{% url 'forum:post_comment' post.id %}" method="post">
            <div class="post-comment-container mb-4">
              {% csrf_token %}

              {{comment_form|crispy}}
              <!-- <label for="CommentFormControlTextarea1" class="form-label"
                >Comment</label
              >
              <textarea
                class="form-control comment-textarea"
                id="CommentFormControlTextarea1"
                rows="2"
              ></textarea> -->
              <div class="comment-btn-container mt-4">

                  <!-- Post comment button -->
                  

                  <button style="display: none" id="CommentSubmitButton" class="btn btn-outline-dark ms-2" type="submit">              
                    Comment
                  </button>

                  <!-- Cancel comment button -->

                  <a
                  id="CancelButton"
                  class="btn btn-outline-dark ms-2"
                  style="display: none"
                >
                  Cancel
                </a>


              </div>

            </div>
          </form>

          <hr class="w-100" />

          <div id="comments-container">

            {% if comments_with_like_status %}

            {% for comment_with_status in comments_with_like_status %}

              <div class="comment my-5" data-comment-id="{{ comment_with_status.comment.id }}">
                <div class="card comment-card">
                  <div class="card-body">
                    <h6 class="card-title">
                      Department name <span>{{ comment_with_status.comment.author.username }}</span>
                      <span>{{ comment_with_status.comment.time_created|naturaltime }}</span>
                    </h6>
                    <p class="card-text">
                      {{ comment_with_status.comment.comment_body }}
                    </p>
                  </div>
                </div>

                <div class="comment-interaction-container">
                  <!-- Like Button (shown if the comment is not liked by the user) -->
                  <span class="interaction-button mt-2 comment-like-btn" id="like-comment-{{ comment_with_status.comment.id }}" data-url="{% url 'forum:like_comment' comment_with_status.comment.id %}" {% if comment_with_status.is_liked_by_user %}style="display:none;"{% endif %}>
                    <i class="fa-regular fa-heart fa-lg like-icon"></i>
                    <span class="comment-like-count-{{ comment_with_status.comment.id }}" id="comment-like-count-{{ comment_with_status.comment.id }}">{{ comment_with_status.total_likes }} likes</span>
                  </span>

                  <!-- Unlike Button (shown if the comment is liked by the user) -->
                  <span class="interaction-button mt-2 comment-like-btn" id="unlike-comment-{{ comment_with_status.comment.id }}" data-url="{% url 'forum:like_comment' comment_with_status.comment.id %}" {% if not comment_with_status.is_liked_by_user %}style="display:none;"{% endif %}>
                    <i class="fa-solid fa-heart fa-lg unlike-icon"></i>
                    <span class="comment-like-count-{{ comment_with_status.comment.id }}" id="comment-like-count-{{ comment_with_status.comment.id }}">{{ comment_with_status.total_likes }} likes</span>
                  </span>

                  <span class="reply-link" data-comment-id="{{ comment_with_status.comment.id }}">Reply</span>

                  <div class="mt-3 post-comment-reply-container mb-4" style="display: none;">
                    <form method="POST" action="{% url 'forum:post_reply' comment_with_status.comment.id %}">
                      {% csrf_token %}
                      {{ reply_form.as_p }}
                      <div class="reply-btn-container mt-4" style="display: none;">
                        <button type="submit" class="btn btn-outline-dark ms-2 reply-btn">Comment</button>
                        <a class="btn btn-outline-dark ms-2 cancel-btn-reply">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="comment-replies-container">
                  {% for reply in comment_with_status.comment.comment_reply.all %}
                    <div class="card comment-reply-card">
                      <div class="card-body">
                        <h6 class="card-title">
                          Department <span>{{ reply.author.username }}</span>
                          <span>{{ reply.time_created|naturaltime }}</span>
                        </h6>
                        <p class="card-text">
                          {{ reply.reply_body }}
                        </p>
                      </div>
                    </div>
                    <div class="comment-reply-interaction-container">
                      <span class="interaction-button mt-2">
                        <i class="fa-regular fa-heart fa-lg heart-icon"></i> 9
                      </span>
                    </div>
                  {% endfor %}
                </div>

              </div>

              {% endfor %}
            {% endif %}

            <!-- Repeat .comment structure for more comments -->
          </div>
        </div>
      </div>

      {% endif %}
    </div>

    <!-- <div class="right-sidebar bg-light">
      <h5 class="mt-3 ms-3">Most Read</h5>
      <hr />
      <div class="card right-sidebar-card">

      </div>
    </div> -->
  </div>


  {% else %}

  <p>Please login or sign up</p>
  <p><a href="{% url 'user:sign-in' %}"></a></p>

  {% endif %}

{% endblock %}