{% extends 'forum/base/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% load humanize %}

{% block title %}
    <title>Post Detial</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'forum/css/home/home-page.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/post/post-detail.css' %}">
{% endblock %}

{% block js %}

<script defer>
  
  document.addEventListener("DOMContentLoaded", () => {
    // Event delegation for reply buttons
    var toastEl = document.getElementById('toastMessage');
    var toast = new bootstrap.Toast(toastEl);
    {% if messages %}
      toast.show();
    {% endif %}

    document
      .getElementById("comments-container")
      .addEventListener("click", (event) => {
        if (event.target.classList.contains("reply-link")) {
          const commentId = event.target.getAttribute("data-comment-id");
          const replyContainer = event.target
            .closest(".comment")
            .querySelector(".post-comment-reply-container");
          const replyTextarea = replyContainer.querySelector(
            ".reply-comment-textarea"
          );
          const replyBtnsContainer = replyContainer.querySelector(
            ".reply-btn-container"
          );

          replyContainer.style.display = "block";
          replyTextarea.style.display = "block";
          replyTextarea.focus();
          replyBtnsContainer.style.display = "flex";
        }

        if (event.target.classList.contains("cancel-btn-reply")) {
          const replyContainer = event.target.closest(
            ".post-comment-reply-container"
          );
          const replyTextarea = replyContainer.querySelector(
            ".reply-comment-textarea"
          );
          const replyBtnsContainer = replyContainer.querySelector(
            ".reply-btn-container"
          );

          replyContainer.style.display = "none";
          replyTextarea.style.display = "none";
          replyBtnsContainer.style.display = "none";
        }
      });

    // Event listener for comment textarea
    const commentTextarea = document.getElementById(
      "CommentFormControlTextarea1"
    );
    const commentSubmitButton = document.getElementById(
      "CommentSubmitButton"
    );
    const cancelButton = document.getElementById("CancelButton");

    commentTextarea.addEventListener("focus", () => {
      commentSubmitButton.style.display = "inline-block";
      cancelButton.style.display = "inline-block";
    });

    cancelButton.addEventListener("click", () => {
      commentSubmitButton.style.display = "none";
      cancelButton.style.display = "none";
      commentTextarea.blur();
    });
  });

  </script>
  <script defer src="{% static 'forum/js/post/post-detail-like.js' %}"></script>
  <script defer src="{% static 'forum/js/post/comment-like.js' %}"></script>
{% endblock %}


{% block main %}

  {% if request.user.is_authenticated %}

  <div class="content-wrapper">
    <div class="sidebar bg-light p-3">
      <h5>Feed</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active left-sidebar-link" href="#">My Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Polls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Popular</a>
        </li>
      </ul>
      <h5 class="mt-3">Communities</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active left-sidebar-link" href="#"
            >Pharmaceutical Sciences</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Languages and Literature</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >IT and Computer Science</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Engineering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Media and Mass Communication</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Humanities and Social Sciences</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Science and Technology</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Management Sciences</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Law</a>
        </li>
      </ul>
      <h5 class="mt-3">Job Groups</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active left-sidebar-link" href="#"
            >Software Engineering</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Product Managment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Management and Consulting</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Investment Banking & Sell Side</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Data Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Information Technology</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Human Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Operations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Legal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Supply Chain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Customer Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Information Technology</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#">Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left-sidebar-link" href="#"
            >Hardware Engineering</a
          >
        </li>
      </ul>
    </div>

    <div class="main-feed">

      {% if post %}

      <!-- Toast container -->
      <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
        {% if messages %}
          {% for message in messages %}
            <div id="toastMessage" class="toast text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
              <div class="d-flex">
                <div class="toast-body">
                  <!-- Display Django messages inside the toast -->
                  {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="card mb-3 post-card">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between align-items-center">
            <a class="back-link btn btn-outline-light" href="{% url 'forum:home' %}">
                <i class="fa-solid fa-arrow-left back-icon"> </i>
            </a>
            <span class="mx-3" style="font-weight: 500; font-size: 1.4rem">{{ post.community.community_name }}</span>
            <span class="ms-auto" style="font-weight: 400; font-size: 1rem">{{ post.time_created|naturaltime }}</span>
        </div>
          <h5 class="card-title mt-3">
            {{post.title}}
          </h5>
          <p class="card-text ">
            {{post.body}}
          </p>
          <div class="interaction-container" data-liked="{% if is_liked_by_user %}true{% else %}false{% endif %}">
            <p class="card-text">
              <small class="text-muted">

            <!-- Like Button (shown if the post is not liked by the user) -->

                <span class="interaction-button like-btn" id="like-button" data-url="{% url 'forum:like-post' post.id %}">
                    <i class="fa-regular fa-heart fa-xl like-icon"></i>
                    <span class="like-count">{{ post.total_likes }} likes</span>
                </span>

                <!-- Unlike Button (shown if the post is liked by the user) -->

                <span class="interaction-button unlike-btn" id="unlike-button" data-url="{% url 'forum:like-post' post.id %}">
                    <i class="fa-solid fa-heart fa-xl unlike-icon"></i>
                    <span class="like-count">{{ post.total_likes }} likes</span>
                </span>


                <span class="interaction-button">
                  <i class="fa-regular fa-message fa-xl comment-icon"></i> {{comment_count}}
                  comments
                </span>
                <span class="interaction-button">
                  <i class="fa-regular fa-eye fa-xl views-icon"></i> 1,935
                  views
                </span>
              </small>
            </p>
          </div>
        </div>

        <div class="container-fluid comments-container">
          <form action="{% url 'forum:post_comment' post.id %}" method="post">
            <div class="post-comment-container mb-4">
              {% csrf_token %}

              {{comment_form|crispy}}
              <!-- <label for="CommentFormControlTextarea1" class="form-label"
                >Comment</label
              >
              <textarea
                class="form-control comment-textarea"
                id="CommentFormControlTextarea1"
                rows="2"
              ></textarea> -->
              <div class="comment-btn-container mt-4">

                  <!-- Post comment button -->
                  

                  <button style="display: none" id="CommentSubmitButton" class="btn btn-outline-dark ms-2" type="submit">              
                    Comment
                  </button>

                  <!-- Cancel comment button -->

                  <a
                  id="CancelButton"
                  class="btn btn-outline-dark ms-2"
                  style="display: none"
                >
                  Cancel
                </a>


              </div>

            </div>
          </form>

          <hr class="w-100" />

          <div id="comments-container">

            {% if comments_with_like_status %}

            {% for comment_with_status in comments_with_like_status %}

              <div class="comment my-5" data-comment-id="{{ comment_with_status.comment.id }}">
                <div class="card comment-card">
                  <div class="card-body">
                    <h6 class="card-title">
                      Department name <span>{{ comment_with_status.comment.author.username }}</span>
                      <span>{{ comment_with_status.comment.time_created|naturaltime }}</span>
                    </h6>
                    <p class="card-text">
                      {{ comment_with_status.comment.comment_body }}
                    </p>
                  </div>
                </div>

                <div class="comment-interaction-container">
                  <!-- Like Button (shown if the comment is not liked by the user) -->
                  <span class="interaction-button mt-2 comment-like-btn" id="like-comment-{{ comment_with_status.comment.id }}" data-url="{% url 'forum:like_comment' comment_with_status.comment.id %}" {% if comment_with_status.is_liked_by_user %}style="display:none;"{% endif %}>
                    <i class="fa-regular fa-heart fa-lg like-icon"></i>
                    <span class="comment-like-count-{{ comment_with_status.comment.id }}" id="comment-like-count-{{ comment_with_status.comment.id }}">{{ comment_with_status.total_likes }} likes</span>
                  </span>

                  <!-- Unlike Button (shown if the comment is liked by the user) -->
                  <span class="interaction-button mt-2 comment-like-btn" id="unlike-comment-{{ comment_with_status.comment.id }}" data-url="{% url 'forum:like_comment' comment_with_status.comment.id %}" {% if not comment_with_status.is_liked_by_user %}style="display:none;"{% endif %}>
                    <i class="fa-solid fa-heart fa-lg unlike-icon"></i>
                    <span class="comment-like-count-{{ comment_with_status.comment.id }}" id="comment-like-count-{{ comment_with_status.comment.id }}">{{ comment_with_status.total_likes }} likes</span>
                  </span>

                  <span class="reply-link" data-comment-id="{{ comment_with_status.comment.id }}">Reply</span>

                  <div class="mt-3 post-comment-reply-container mb-4" style="display: none;">
                    <form method="POST" action="{% url 'forum:post_reply' comment_with_status.comment.id %}">
                      {% csrf_token %}
                      {{ reply_form.as_p }}
                      <div class="reply-btn-container mt-4" style="display: none;">
                        <button type="submit" class="btn btn-outline-dark ms-2 reply-btn">Comment</button>
                        <a class="btn btn-outline-dark ms-2 cancel-btn-reply">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="comment-replies-container">
                  {% for reply in comment_with_status.comment.comment_reply.all %}
                    <div class="card comment-reply-card">
                      <div class="card-body">
                        <h6 class="card-title">
                          Department <span>{{ reply.author.username }}</span>
                          <span>{{ reply.time_created|naturaltime }}</span>
                        </h6>
                        <p class="card-text">
                          {{ reply.reply_body }}
                        </p>
                      </div>
                    </div>
                    <div class="comment-reply-interaction-container">
                      <span class="interaction-button mt-2">
                        <i class="fa-regular fa-heart fa-lg heart-icon"></i> 9
                      </span>
                    </div>
                  {% endfor %}
                </div>

              </div>

              {% endfor %}
            {% endif %}

            <!-- Repeat .comment structure for more comments -->
          </div>
        </div>
      </div>

      {% endif %}
    </div>

    <div class="right-sidebar bg-light">
      <h5 class="mt-3 ms-3">Most Read</h5>
      <hr />
      <div class="card right-sidebar-card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-2">
            <div class="card-body p-1">
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Category
                <span class="right-sidebar-post-views ms-5"
                  ><i class="fa-regular fa-eye fa-sm views-icon"></i> 1,935
                  views</span
                >
              </h6>
              <h6 class="card-title">Lorem ipsum dolor sit amet.</h6>
            </div>
          </li>
          <li class="list-group-item px-2">
            <div class="card-body p-1">
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Category
                <span class="right-sidebar-post-views ms-5"
                  ><i class="fa-regular fa-eye fa-sm views-icon"></i> 1,935
                  views</span
                >
              </h6>
              <h6 class="card-title">Lorem ipsum dolor sit amet.</h6>
            </div>
          </li>
          <li class="list-group-item px-2">
            <div class="card-body p-1">
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Category
                <span class="right-sidebar-post-views ms-5"
                  ><i class="fa-regular fa-eye fa-sm views-icon"></i> 1,935
                  views</span
                >
              </h6>
              <h6 class="card-title">Lorem ipsum dolor sit amet.</h6>
            </div>
          </li>
          <li class="list-group-item px-2">
            <div class="card-body p-1">
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Category
                <span class="right-sidebar-post-views ms-5"
                  ><i class="fa-regular fa-eye fa-sm views-icon"></i> 1,935
                  views</span
                >
              </h6>
              <h6 class="card-title">Lorem ipsum dolor sit amet.</h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  {% else %}

  <p>Please login or sign up</p>
  <p><a href="{% url 'user:sign-in' %}"></a></p>

  {% endif %}

{% endblock %}