[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "==3.8.1"
mysqlclient = "==2.2.4"
python-dotenv = "==1.0.1"
six = "==1.16.0"
sqlparse = "==0.5.1"
tzdata = "==2024.1"
django-email-verification = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
openai = "*"
django-widget-tweaks = "*"
django-storages = "*"
google-cloud-storage = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
