<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <p>{{ form.email.label_tag }} {{ form.email }}</p>
      <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>
      <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>
      <button type="submit">Register</button>
    </form>
<br>
<br>
    <p>{% lorem 50 w %}</p>

  </body>
</html>
