:root {
    --primary-color: #0077b6; /* Modern Blue */
    --secondary-color: #90e0ef; /* Light Aqua */
    --accent-color: #ff6b6b; /* Vibrant Red */
    --background-color: #f8f9fa; /* Soft White */
    --text-color: #212529; /* Dark Grey */
    --border-color: #e0e0e0; /* Light Gray */
}

body {
    background-color: var(--background-color);
}

.onboarding-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--primary-color);
}

.form-floating label {
    color: var(--text-color);
}

.form-control, .form-select {
    border-radius: 30px;
    border: 1px solid var(--border-color);
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.gif-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
