.search-posts {
  max-width: 100%;
  width: 15rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 56px; /* Height of the navbar */
}

/* left sidebar */
.sidebar {
  position: fixed;
  top: 85px; /* Adjust for navbar height */
  bottom: 0;
  width: 300px;
  overflow-y: auto;
  border-right: 1px solid #e5e5e5;
}

.left-sidebar-link {
  color: black;
}

.left-sidebar-link:hover {
  color: gray;
}

.main-feed {
  margin: 56px 300px; /* Adjust for navbar and sidebars width */
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin-left: 400px;
}

/* Main feed content */

.user-post-card {
  width: 80%;
  margin-bottom: 5rem;
}

.user-post-card-body {
  padding-top: 0rem;
}

.user-post-link {
  text-decoration: none;
  color: black;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin: 0; /* Ensure the title and icon are aligned properly */
  flex: 1; /* This makes sure the title takes up available space */
}

.post-options-icon {
  margin-left: 10px; /* Add some space between the title and the icon */
  cursor: pointer; /* Optional: cursor change to indicate the icon is interactive */
}

.interaction-btn {
}

.like-btn {
  
}

.offcanvas-container {
  display: none;
}

.thumbnail-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.img-thumbnail {
  width: 90%;
  height: 384px;
  object-fit: contain;
}

/* Sidebars */

.right-sidebar {
  position: fixed;
  top: 85px; /* Adjust for navbar height */
  bottom: 0;
  width: 300px;
  right: 0;
  overflow-y: auto;
  border-left: 1px solid #e5e5e5;
}

@media (max-width: 1250px) {
  .right-sidebar {
    display: none;
  }
}

@media (min-width: 1250.1px) and (max-width: 1350px) {
  .user-post-card {
    width: 100%;
  }

  .main-feed {
    margin-left: 300px;
  }
}

@media (min-width: 800.1px) and (max-width: 1250px) {
  .main-feed {
    margin-right: 20px;
    margin-left: 250px;
    padding-top: 0;
  }

  .sidebar {
    width: 250px;
  }

  .user-post-card {
    width: 100%;
  }

  .img-thumbnail {
    width: 90%;
    height: 300px;
    object-fit: contain;
  }
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .img-thumbnail {
    width: 90%;
    height: 300px;
    object-fit: contain;
  }

  .main-feed {
    margin: 56px 20px;
    margin-top: 100px;
    padding-top: 0;
  }

  .offcanvas-container {
    display: block;
  }

  .feed-title {
    display: none;
  }

  .user-post-card {
    width: 100%;
    padding: 1rem;
  }

  .text-muted {
    display: block;
  }
}
