.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1000; 
}

#nav-title {
  margin-right: 2rem;
  font-size: 1.5em;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

.navbar a:hover {
  color: gray;
}

.search-bar-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-posts {
  width: 20rem!important;
  border-radius: 2rem;
}

.notification-list-item {
  display: block!important; 
}

/* Unread Notifications */
.notification-item.unread {
  background-color: #fff5cc; /* Light yellow for unread notifications */
  border-left: 4px solid #f0ad4e; /* Emphasis border for unread notifications */
}

/* Read Notifications */
.notification-item.read {
  background-color: #f8f9fa; /* Light grey for read notifications */
  color: #6c757d; /* Muted text for read notifications */
}

/* Hover Effect for All Notifications */
.notification-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Adjust Bootstrap Default Styles */
.list-group-item-warning {
  background-color: #fff5cc !important; /* Match the unread notification style */
  border-left: 4px solid #f0ad4e !important;
}



@media (max-width: 700px) {
  .search-bar-form {
    display: none;
  }

  #nav-title {
    margin-right: auto;
    font-size: 1.5em;
  }
}

@media (max-width: 1051px) {
  .search-posts {
    width: 20rem!important;
  }
}
