{% extends 'forum/base/base.html' %}
{% load static %}
{% load humanize %}

    {% block title %}
      <title>{{community.community_name}} Community</title>
    {% endblock %}
    
    {% block css %}
    <link rel="stylesheet" href="{% static 'forum/css/home/home-page.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/community/community-page.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/community/community-media-queries.css' %}">

    {% endblock %}

    {% block js %}
    <script defer src="{% static 'forum/js/home/home-like.js' %}"></script>
    <script defer src="{% static 'forum/js/home/report-post.js' %}"></script>
    {% endblock %}

    {% block main %}
  
      <div class="content-wrapper">
        <div class="sidebar bg-light p-3">
          <h5>Feed</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link left-sidebar-link" href="{% url 'forum:home' %}">
                <i class="fa-solid fa-house fa-lg"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link left-sidebar-link" href="#"
                ><i class="fa-solid fa-fire fa-lg"></i> Popular</a
              >
            </li>
          </ul>
          <h5 class="mt-3">Communities</h5>
          <ul class="nav flex-column">
            {% if communities %}
            {% for community in communities %}
            <li class="nav-item">
              <a class="nav-link left-sidebar-link" href="{% url 'forum:community_page' community.id %}">
                <!-- Parent container to separate the image (left) and text (right) -->
                <div class="row align-items-center">
                  <!-- Left Container: Logo (auto-width) -->
                  <div class="col-auto">
                    {% if community.community_sidebar_logo %}
                      <img
                        src="{{ community.community_sidebar_logo.url }}"
                        alt="Community Logo"
                        width="30"
                        style="max-width: 100%; height: auto;"
                      />
                    {% endif %}
                  </div>
            
                  <!-- Right Container: Community Name (flexes to fill remaining space) -->
                  <div class="col">
                    {{ community.community_name }}
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
  
        <div class="main-feed">
          <!-- Main Feed Content -->
  
          <div class="card community-card">
            <!-- Cover Image Container -->
            <div class="community-img-container position-relative">
              <!-- Community Cover Image -->
              <img
               {% if community.community_post_image %} src="{{community.community_post_image.url}}" {% endif %}
                alt="Cover Image"
                class="card-img-top img-fluid community-img cover-img"
              />
          
              <!-- Circle Avatar (Overlapping) -->
              <div class="community-avatar-wrapper">
                <!-- Replace with your community's avatar field if available -->
                <img
                {% if community.community_cover_image %}
                  src="{{community.community_cover_image.url}}"
                {% endif %}
                  alt="Community Avatar"
                  class="community-avatar-img"
                />
              </div>
            </div>
          
            <!-- Card Body -->
            <div class="card-body community-card-body">
              <h3 class="community-title card-title pb-3">
                {{ community.community_name }}
              </h3>
              <h5 class="card-text community-description">Community Description:</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eius
                odio labore numquam nisi facilis sed nobis amet iste asperiores!
              </p>
            </div>
          </div>
          
  
          {% for post_with_status in posts_with_like_status %}

          <div class="user-post-card card">
            <div class="card-body user-post-card-body">
          
                <!-- Top Row: Placeholder + (category/time, community/username) + ellipsis -->
                <div class="d-flex align-items-center my-3">
                  <!-- Small circle placeholder image -->
                  <img
                  {% if post_with_status.post.community.community_post_image %}
                  src="{{post_with_status.post.community.community_post_image.url}}"
                  {% else %}
                  src="https://via.placeholder.com/40"
                  {% endif %}  
                    alt="Placeholder"
                    class="rounded-circle me-3"
                    style="width: 40px; height: 40px; object-fit: cover;"
                  />
          
                <!-- Flex column for category/time and community/username -->
                <div class="d-flex flex-column">
                  <!-- Upper row: category + time_created -->
                  <div class="d-flex mb-1">
                    {% if post_with_status.post.category %}
                      <h6 class="card-subtitle mb-0 me-2 post-detail-heading">
                        {{ post_with_status.post.category }}
                      </h6>
                    {% endif %}
                    <small class="card-subtitle mb-0 text-body-secondary post-detail-heading-time">
                      {{ post_with_status.post.time_created|naturaltime }}
                    </small>
                  </div>
          
                  <!-- Lower row: community + author.username -->
                  <div class="d-flex">
                    {% if post_with_status.post.community %}
                      <small class="card-subtitle mb-0 text-muted me-2">
                        <a
                          class="subtitle-link"
                          href="{% url 'forum:community_page' post_with_status.post.community.id %}"
                          style="text-decoration: none;"
                        >
                          {{ post_with_status.post.community }}
                        </a>
                      </small>
                    {% endif %}
                    <small class="card-subtitle mb-0 text-muted">
                      {{ post_with_status.post.author.username }}
                    </small>
                  </div>
                </div>
          
                <!-- Ellipsis dropdown on the far right -->
                <div class="ms-auto">
                  <div class="post-option-icon-container dropdown">
                    <!-- <i
                      class="fa-solid fa-ellipsis post-options-icon fa-lg"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    ></i> -->
                      <!-- Wrap the ellipsis icon in a div -->
                    <div
                      class="ellipsis-icon-wrapper"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa-solid fa-ellipsis post-options-icon fa-lg"></i>
                    </div>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end post-dropdown">
                      {% if request.user == post_with_status.post.author %}
                      <li>
                        <form
                          action="{% url 'forum:delete_post' post_with_status.post.id %}"
                          method="POST"
                        >
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item text-danger">
                            <i class="fa-solid fa-trash me-2"></i>Delete Post
                          </button>
                        </form>
                      </li>
                      {% endif %}
                      {% if not request.user == post_with_status.post.author %}

                      <li>
                        <!-- Trigger for Modal -->
                        <button
                          class="dropdown-item btn btn-link report-post-button"
                          data-bs-toggle="modal"
                          data-bs-target="#reportPostModal-{{ post_with_status.post.id }}"
                        >
                          <i class="fa-solid fa-flag"></i> Report
                        </button>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
              <!-- End of Top Row -->
          
              <!-- Post Title (with link to detail page) -->
              <h5 class="card-title mb-0 post-title">
                <a
                  class="user-post-link"
                  href="{% url 'forum:post_detail' post_with_status.post.id %}"
                >
                  {{ post_with_status.post.title }}
                </a>
              </h5>
          
              <!-- Report Modal (triggered by the ellipsis dropdown) -->
              <div
                class="modal fade"
                id="reportPostModal-{{ post_with_status.post.id }}"
                tabindex="-1"
                aria-labelledby="reportPostModalLabel-{{ post_with_status.post.id }}"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-5"
                        id="reportPostModalLabel-{{ post_with_status.post.id }}"
                      >
                        Report Post
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form
                      class="report-post-form"
                      data-post-id="{{ post_with_status.post.id }}"
                    >
                      {% csrf_token %}
                      <div class="modal-body">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="reason-{{ post_with_status.post.id }}"
                            id="reason-inappropriate-{{ post_with_status.post.id }}"
                            value="inappropriate"
                            checked
                          />
                          <label
                            class="form-check-label"
                            for="reason-inappropriate-{{ post_with_status.post.id }}"
                          >
                            Inappropriate Content
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="reason-{{ post_with_status.post.id }}"
                            id="reason-spam-{{ post_with_status.post.id }}"
                            value="spam"
                          />
                          <label
                            class="form-check-label"
                            for="reason-spam-{{ post_with_status.post.id }}"
                          >
                            Spam
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="reason-{{ post_with_status.post.id }}"
                            id="reason-other-{{ post_with_status.post.id }}"
                            value="other"
                          />
                          <label
                            class="form-check-label"
                            for="reason-other-{{ post_with_status.post.id }}"
                          >
                            Other
                          </label>
                        </div>
                        <div
                          id="otherReasonInputContainer-{{ post_with_status.post.id }}"
                          class="mt-3"
                          style="display: none;"
                        >
                          <label
                            for="otherReasonInput-{{ post_with_status.post.id }}"
                            class="form-label"
                          >
                            Please specify:
                          </label>
                          <input
                            name="comment"
                            type="text"
                            id="otherReasonInput-{{ post_with_status.post.id }}"
                            class="form-control"
                            placeholder="Enter your reason here"
                          />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                          Submit Report
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- End Modal -->
          
              <!-- If you still want a line or spacing between the top info and the rest -->
          
              <!-- Additional Subtitle Row (if needed) 
                   Note: If you used the top row to show category/time/community/username
                   you might not need this. Included just in case.
              -->
              <!-- 
              <div class="d-flex align-items-center custom-subtitle-container">
                <h6 class="card-subtitle mb-0 text-body-secondary">
                  {{ post_with_status.post.author.username }}
                </h6>
              </div>
              -->
          
              <!-- Post Body (truncated words) -->
              <p class="card-text mt-3">
                {{ post_with_status.post.body|truncatewords:20 }}
              </p>
          
              <!-- Thumbnail -->
              {% if post_with_status.post.image %}
                <div class="container-fluid mt-5 thumbnail-container">
                  <img
                    src="{{ post_with_status.post.image.url }}"
                    alt="Thumbnail"
                    class="img-thumbnail"
                    data-bs-toggle="modal"
                    data-bs-target="#imageModal-{{ post_with_status.post.id }}"
                    style="cursor: pointer"
                  />
                </div>
              {% endif %}
          
              <!-- Image Modal -->
              {% if post_with_status.post.image %}
                <div
                  class="modal modal-md fade"
                  id="imageModal-{{ post_with_status.post.id }}"
                  tabindex="-1"
                  aria-labelledby="imageModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <img
                          src="{{ post_with_status.post.image.url }}"
                          alt="Full-size Image"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
          
              <!-- Interaction Section -->
              <div
                class="row pt-4 interaction-row"
              >
                <div
                  class="interaction-container col-2"
                  data-liked="{% if post_with_status.is_liked_by_user %}true{% else %}false{% endif %}"
                  data-post-id="{{ post_with_status.post.id }}"
                >
                  <!-- Like Button -->
                  <div
                    id="like-button-{{ post_with_status.post.id }}"
                    {% if post_with_status.is_liked_by_user %}
                      style="display: none;"
                    {% endif %}
                  >
                    <span
                      class="interaction-button like-btn"
                      data-url="{% url 'forum:like-post' post_with_status.post.id %}"
                    >
                      <i class="fa-regular fa-heart fa-lg like-icon"></i>
                      <small
                        id="like-count-{{ post_with_status.post.id }}"
                        class="like-{{ post_with_status.post.id }} text-muted"
                      >
                        {{ post_with_status.post.total_likes }} likes
                      </small>
                    </span>
                  </div>
          
                  <!-- Unlike Button -->
                  <div
                    id="unlike-button-{{ post_with_status.post.id }}"
                    {% if not post_with_status.is_liked_by_user %}
                      style="display: none;"
                    {% endif %}
                  >
                    <span
                      class="interaction-button unlike-btn"
                      data-url="{% url 'forum:like-post' post_with_status.post.id %}"
                    >
                      <i class="fa-solid fa-heart fa-lg unlike-icon"></i>
                      <small
                        id="like-count-{{ post_with_status.post.id }}"
                        class="like-{{ post_with_status.post.id }} text-muted"
                      >
                        {{ post_with_status.post.total_likes }} likes
                      </small>
                    </span>
                  </div>
                </div>
          
                <div class="col-4">
                  <span class="interaction-button">
                    <i class="fa-regular fa-comment fa-lg"></i>
                    <small class="text-muted">
                      {% if post_with_status.comments %}
                        <a
                          style="text-decoration: none;"
                          class="link-dark"
                          href="{% url 'forum:post_detail' post_with_status.post.id %}"
                        >
                          {{post_with_status.comments}} comments
                        </a>
                        {% else %}
                        <a
                          style="text-decoration: none;"
                          class="link-dark"
                          href="{% url 'forum:post_detail' post_with_status.post.id %}"
                        >
                          0 comments
                        </a>
                      {% endif %}
                    </small>
                  </span>
                </div>
              </div>
          
            </div>
          </div>


          {% endfor %}
  
          <div class="right-sidebar bg-light p-0">

            <div class="container mt-5">
              <!-- Must have .nav and .nav-tabs on the parent -->
              <div class="nav nav-tabs choice-chips-container" role="tablist">
                <button
                  class="nav-link choice-chip active"
                  id="tab1-btn"
                  data-bs-toggle="tab"
                  data-bs-target="#tab1-content"
                  type="button"
                  role="tab"
                  aria-controls="tab1-content"
                  aria-selected="true"
                >
                <i class="fa-solid fa-clock fa-lg"></i>  Latest
                </button>
                <button
                  class="nav-link choice-chip"
                  id="tab2-btn"
                  data-bs-toggle="tab"
                  data-bs-target="#tab2-content"
                  type="button"
                  role="tab"
                  aria-controls="tab2-content"
                  aria-selected="false"
                >
                <i class="fa-solid fa-arrow-trend-up fa-lg"></i> Trending
                </button>
              </div>
            
              <!-- Tab Content -->
                <div class="tab-content mt-4">
                  <div class="tab-pane fade show active" id="tab1-content" role="tabpanel">
                  <!-- Card 1 -->
    
    
    
                  </div>
    
                  <div class="tab-pane fade" id="tab2-content" role="tabpanel">

                  </div>
                </div>
            </div>
          </div>
          
        </div>
        {% include 'forum/home/toast.html' %}

      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          // Handle "Other" input visibility
          document.querySelectorAll(".form-check-input").forEach((input) => {
            input.addEventListener("change", function () {
              const postID = this.closest(".modal").querySelector("form").dataset.postId;
              const otherInputContainer = document.querySelector(
                `#otherReasonInputContainer-${postID}`
              );
              if (this.value === "other" && this.checked) {
                otherInputContainer.style.display = "block";
              } else {
                otherInputContainer.style.display = "none";
              }
            });
          });
        
          // Handle form submission
          document.querySelectorAll(".report-post-form").forEach((form) => {
            form.addEventListener("submit", function (e) {
              e.preventDefault(); // Prevent default form submission
        
              const postID = this.dataset.postId;
              const formData = new FormData(this);
        
              fetch(`/report-post/${postID}/`, {
                method: "POST",
                body: formData,
                headers: {
                  "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
                },
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    // Show success toast
                    showToast(data.message, "bg-success");
                  } else {
                    // Show error toast
                    showToast(data.message, "bg-danger");
                  }
        
                  // Hide modal after submission
                  const modal = bootstrap.Modal.getInstance(
                    document.getElementById(`reportPostModal-${postID}`)
                  );
                  modal.hide();
                })
                .catch(() => {
                  showToast("An error occurred. Please try again.", "bg-danger");
                });
            });
          });
        
          // Toast notification function
          function showToast(message, bgClass) {
            const toastBody = document.getElementById("reportToastBody");
            const toastMessage = document.getElementById("reportToastMessage");
        
            toastBody.textContent = message;
            toastMessage.className = `toast align-items-center text-white ${bgClass} border-0`;
            const toast = new bootstrap.Toast(toastMessage);
            toast.show();
          }
        });

      </script>
    {% endblock %}


