@media (min-width: 1565px) and (max-width: 1750px) {
  .user-post-card {
    width: 65%;
  }

  .community-card {
    width: 65%;
    margin-bottom: 3rem;
  }

  .main-feed {
    margin-left: 500px;
  }
}

@media (min-width: 1350.1px) and (max-width: 1565px) {
  .feed-header {
    width: 80%;
  }

  .user-post-card {
    width: 80%;
  }

  .community-card {
    width: 80%;
    margin-bottom: 3rem;
  }

  .main-feed {
    margin-left: 450px;
  }
}

@media (min-width: 1250.1px) and (max-width: 1350px) {
  .feed-header {
    width: 80%;
  }

  .user-post-card {
    width: 80%;
  }

  .community-card {
    width: 80%;
    margin-bottom: 3rem;
  }

  .main-feed {
    margin-left: 400px;
  }
}

@media (min-width: 1061.1px) and (max-width: 1250px) {
  .main-feed {
    margin-right: 20px;
    margin-left: 350px;
    padding-top: 0;
  }

  .sidebar {
    width: 250px;
  }

  .user-post-card {
    width: 70%;
  }

  .community-card {
    width: 70%;
    margin-bottom: 3rem;
  }
}

@media (min-width: 900px) and (max-width: 1061px) {
  .main-feed {
    margin-right: 20px;
    margin-left: 300px;
    padding-top: 0;
  }

  .sidebar {
    width: 250px;
  }

  .user-post-card {
    width: 80%;
  }

  .community-card {
    width: 80%;
    margin-bottom: 3rem;
  }
}

@media (min-width: 801px) and (max-width: 899px) {
  .main-feed {
    margin-right: 20px;
    margin-left: 300px;
    padding-top: 0;
  }

  .sidebar {
    width: 250px;
  }

  .user-post-card {
    width: 100%;
  }

  .community-card {
    width: 100%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .img-thumbnail {
    width: 90%;
    height: 200px;
    object-fit: contain;
  }

  .main-feed {
    margin: 56px 20px;
    margin-top: 100px;
    padding-top: 0;
    margin-left: 50px;
  }

  .offcanvas-container {
    display: block;
  }

  .feed-title {
    display: none;
  }

  .user-post-card {
    width: 100%;
    /* padding: 1rem; */
  }

  .community-card {
    width: 100%;
    margin-bottom: 3rem;
  }

  .user-post-card-body {
    padding-bottom: 10px;
  }

  .search-posts {
    width: 15rem;
  }

  .text-muted {
    display: block;
  }
}
