.create-post-container {
    margin-top: 7rem;
    
}

.form-control, .select-container, .submit-btn-container, .select-text {
    max-width: 60%;
}

.select-container, .submit-btn-container, .select-text{
    margin-left: auto;
    margin-right: auto;
}

.post-title-container {
    display: flex;
    justify-content: center;
}

.post-body-container .input-group {
    justify-content: center;
}

.post-title-container{
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.submit-btn-container{
    text-align: right;
}

.title, .body{
    border-radius: 20px;
}