body {
  background-color: rgb(248, 249, 250);
  /* --bs-light-rgb: 248, 249, 250; */
}

.create-post-container {
margin-top: 7rem;
}

.heading-text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: gray;
}

.select-container,
.submit-btn-container,
.select-text,
.options-container {
max-width: 60%;
}

.select-container select {
max-width: 40%;
}

.select-container,
.submit-btn-container,
.select-text,
.options-container,
.post-img-container {
margin-left: auto;
margin-right: auto;
}

#id_title, #id_body {
  max-width: 100%;
  border-radius: 20px;
}

#id_body {
  height: 100px;
}

.form-floating {
  width: 60%;  /* Let the input field take the full width */
  margin-left: auto;
  margin-right: auto;
  text-align: center;  /* Center the content inside the container */
}

.post-title-container {
margin-bottom: 5rem;
margin-top: 3rem;
}

.submit-btn-container {
text-align: right;
}

.label-heading {
  font-weight: 500;
  font-size: 1.2rem;
}

.errorlist {
  padding: 0;
}

.errorlist li {
  list-style-type: none;
}

