body {
  background-color: rgb(248, 249, 250);
  /* --bs-light-rgb: 248, 249, 250; */
}

.main-feed {
  margin: 56px 300px; /* Adjust for navbar and sidebars width */
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin-left: 350px;
  padding-bottom: 5rem;
}

.post-card {
  border: none;
  border-radius: 15px;
}

.card-title:hover{
  text-decoration: none;
}

.post-detail-heading {
  color: black;
  font-size: 0.9rem;

}

.post-detail-heading-time {
    font-size: .75rem;
}

.list-group-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.post-body {
  line-height: 1.75;
}

.interaction-container {
  margin-top: 2rem;
}

.interaction-button {
  background-color: #f4f6f7;
  border-radius: 15px;
  padding: 0.5rem;
  margin-right: 10px;
}

.interaction-container .interaction-button:hover {
  cursor: pointer !important;
}

.interaction-button .unlike-icon {
  color: red;
}

.heart-icon:hover {
  cursor: pointer;
}

.comment-icon:hover {
  cursor: pointer;
}

.views-icon:hover {
  cursor: pointer;
}

.post-comment-container {
}

.comment-textarea,
.reply-comment-textarea {
  max-width: 100%;
}

.comment-btn-container {
}

#CommentSubmitButton,
#CancelButton {
  width: 40%;
}

.comment-card,
.comment-reply-card {
  border: 0 solid #eff0f4;
  background-color: #f3f3f3;
  width: 100%;
}

.comment-interaction-container {
  margin-top: 1rem;
}

.comment-body-title:hover,
.reply-comment-body-title:hover {
  text-decoration: none;
}

.reply-link {
  color: black;
  text-decoration: none;
}

.reply-link:hover {
  cursor: pointer;
}

.comment-reply-card,
.comment-reply-interaction-container {
  width: 60%;
  margin-top: 1rem;
  margin-left: 10%;
}

.sticky-comment-container {
  position: fixed;
  bottom: 0;
  width: 100%; /* Adjust based on sidebar width */
  max-width: 900px; /* Ensure it doesn't exceed the main content width */
  margin-left: auto;
  margin-right: 30rem;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 15px;
  border-radius: 20px;
}

.post-comment-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .sticky-comment-container {
    width: 40%;
    padding: 10px;
    margin-right: 28%;
  }
}

@media (max-width: 1250px) {
  .sticky-comment-container {
    width: 40%;
    padding: 10px;
    margin-right: 20%;
  }
}


@media (max-width: 768px) {
  .sticky-comment-container {
    width: 60%;
    padding: 10px;
  }
}

.outer-comments-container {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 15px;
}

label[for="id_reply_body"] {
  display: none;
}

label[for="CommentFormControlTextarea1"] {
  display: none;
}
